.top-navbar {
    width: 100%;
    padding: 15px;
    background: #1b263b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 30px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: rgba(30, 30, 30, 0.95);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

/* User Profile */
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sidebar-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

/* Navigation Links */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.sidebar-nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.content{
    margin: auto;
    position: relative;
    padding: 20px 75px;
    background-color: gray;
    width: 80%;
    height: 75%;
}

@font-face {
    font-family: 'MonaspaceNeon';
    src: url('assets/fonts/MonaspaceNeon-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MonaspaceNeon';
    src: url('assets/fonts/MonaspaceNeon-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MonaspaceNeon';
    src: url('assets/fonts/MonaspaceNeon-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  }
  
  
body {
    font-family: 'MonaspaceNeon', monospace;
  }
  