html, body {
    background: linear-gradient(to top, #98c1d9, #e0fbfc);
    height: 100%;
    margin: 0;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 800;
    overflow: hidden;
    color: #002365;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background:#1b263b;
    color: #F8F8FF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 15px -2px rgba(32,33,36,0.9);
}

.sidebar-header {
    display: absolute;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* U-Tok Logo */
.sidebar-header-logo{
    text-align: center;
    margin-bottom: 0px;
}

.sidebar-logo {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.utok-name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}

/* User Summary */
.sidebar-user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

#sidebar-user-name {
    font-size: 20px;
    font-weight: 800;
}

#sidebarRank{
    font-weight: 600;
    font-size: 14px;
}

.sidebar-exp-summary {
    font-weight: 600;
    font-size: 14px;
}


.sidebar-profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #F8F8FF;
}

/* Navigation Links */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 5px;
}

/* Search Bar */
.search-bar {
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 15px;
    background-color: rgba(111, 207, 189, 0.9);
    color: #F8F8FF;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 800;
    padding-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 15px -2px rgba(32,33,36,0.9);
}


input.search-bar::-webkit-input-placeholder { 
    font-size: 15px;
    color: #F8F8FF;
}

input.search-bar:-moz-placeholder { 
    font-size: 15px;
    color: #F8F8FF;
}

input.search-bar::-moz-placeholder { 
    font-size: 15px;
    color: #F8F8FF;
}

input.search-bar:-ms-input-placeholder {
    font-size: 15px;
    color: #F8F8FF;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
    transition: 0.4s ease;
    width: 84%;
}

.sidebar-nav a:hover, .login-button:hover {
    background: rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.navbar-icons {
    height: 25px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(111, 207, 189, 0.9);
    color: #F8F8FF;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 800;
    padding-left: 0px;
    margin-top: 12px;
    text-decoration: none;
    border-radius: 15px;
    height: 45px;
    box-shadow: 0px 0px 15px -2px rgba(32,33,36,0.9);
    transition: 0.4s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111; 
}

::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

/* Content Section */
.content {
    margin: auto;
    position: relative;
    background-color: white;
    padding: 30px 50px;
    width: 50%;
    margin-left: 435px;
    margin-top: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    right: -50px;
    height: 500px;
    overflow-y: auto;
    font-size: 20px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #6FCFBD;
}

.content h1 {
    border-bottom: 2px solid rgba(111, 207, 189, 0.5);
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.info-type {
    font-weight: 800;
    font-size: 15px;
}

#info {
    display: flex;
}

#info-user-name {
    font-weight: 800;
    font-size: 24px;
    margin: 0;
}

.user-info {
    margin-left: 20px;
}

.select-role {
    display: flex;
    gap: 10px;
    top: 50%;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#expBar {
    margin: 0;
    font-weight: normal;
}
#expDesc {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

#roleLevel {
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0px;
}

#roleSelect {
    font-size: 14px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(111, 207, 189, 0.9);
    color: #F8F8FF;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 600;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#roleSelect option {
    font-size: 14px;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 600;
    padding: 5px;
}

#roleSelect option:checked {
    background-color: #002365;
}

#role {
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
}

#info-input {
    font-weight: normal;
    font-size: 14px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.content td {
    padding: 6px;
}

.user-name-input-field {
    height: 20px;
    width: 250px;
}

/* Buttons */
input[type="button"], .edit-button {
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 800;
    background-color: #6FCFBD;
    color: #F8F8FF;
    border: none;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.6s ease, transform 0.4s ease, color 0.3s ease;
    font-size: 12px;
}

input[type="button"]:hover, .edit-button:hover {
    background: #e0fbfc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .content {
        width: 85%;
        margin-left: 220px;
    }
}

/* Fonts */
@font-face {
    font-family: 'MonaspaceNeon';
    src: url('../assets/fonts/MonaspaceNeon-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonaspaceNeon';
    src: url('../assets/fonts/MonaspaceNeon-SemiWideSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MonaspaceNeon';
    src: url('../assets/fonts/MonaspaceNeon-WideExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
