body {
    margin: 0;
    height: 100vh;
    display: flex;
    background: linear-gradient(to bottom, #98c1d9, #e0fbfc);
    font-family: 'MonaspaceNeon', monospace;
    color: #0d1b2a;
}

/* navbar */
.top-navbar {
    width: 100%;
    padding: 15px;
    background: #1b263b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 30px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background:#1b263b;
    color: #F8F8FF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    font-family: "MonaspaceNeon", monospace;
    font-weight: bold;
}

.sidebar-header {
    display: absolute;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* U-Tok Logo */
.sidebar-header-logo{
    text-align: center;
    margin-bottom: 0px;
}

.sidebar-logo {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.utok-name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}

/* User Summary */
.sidebar-user-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.sidebar-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

/* Navigation Links */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 5px;
}

/* Search Bar */
.search-bar {
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 15px;
    background-color: rgba(111, 207, 189, 0.9);
    color: #F8F8FF;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 800;
    padding-left: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
}

input.search-bar::-webkit-input-placeholder { 
    font-size: 15px;
    color: #F8F8FF;
}

input.search-bar:-moz-placeholder { 
    font-size: 15px;
    color: #F8F8FF;
}

input.search-bar::-moz-placeholder { 
    font-size: 15px;
    color: #F8F8FF;
}

input.search-bar:-ms-input-placeholder {
    font-size: 15px;
    color: #F8F8FF;
}

.sidebar-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
    width: 84%;
}

.sidebar-nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding-left: 15px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(111, 207, 189, 0.9);
    color: #F8F8FF;
    font-family: 'MonaspaceNeon', monospace;
    font-weight: 800;
    padding-left: 0px;
    margin-top: 8px;
}

/* Content Section */
.content {
    margin: auto;
    position: relative;
    background-color: white;
    padding: 30px 50px;
    width: 60%;
    margin-left: 375px;
    margin-top: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    right: -50px;
    height: 500px;
    overflow-y: auto;
    font-size: 12px;
}

.profile-pic {
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
}

.content h1 {
    color: #1b263b;
    border-bottom: 2px solid #1b263b;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
}

.info-type {
    font-weight: 800;
    font-size: 16px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.content td {
    padding: 10px;
}

.user-name-input-field {
    height: 20px;
    width: 250px;
}

/* Buttons */
input[type="button"], .edit-button {
    padding: 8px 12px;
    background: #98c1d9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

input[type="button"]:hover, .edit-button:hover {
    background: #e0fbfc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .content {
        width: 85%;
        margin-left: 220px;
    }
}

/* Fonts */
@font-face {
    font-family: 'MonaspaceNeon';
    src: url('../assets/fonts/MonaspaceNeon-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonaspaceNeon';
    src: url('../assets/fonts/MonaspaceNeon-SemiWideSemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MonaspaceNeon';
    src: url('../assets/fonts/MonaspaceNeon-WideExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
